<h1>{{title}}</h1>

<header>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
<header class="shortcuts">
    <a id='lataban' href="#">Exterra</a>
    <a id='tabla' href="#">Tabla</a>
    <a id="mulao" href="#">Mulao</a>
    <a id="cabadiangan" href="#">Cabadiangan</a>

</header>
